### PySpark Dataframe Filters

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe Filters').getOrCreate()

In [3]:
spark

In [5]:
df = spark.read.csv(
    'test1.csv',
    header = True,
    inferSchema = True
)

df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Filter Operations

## Salary of people less than or equal to 20,000

In [7]:
df.filter("Salary <= 20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [8]:
df.filter("Salary <= 20000").select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|  Sunny|         4|
|   Paul|         3|
| Harsha|         1|
|Shubham|         2|
+-------+----------+

In [15]:
df.filter((df["Experience"] >= 4) & (df["Salary"] >= 25000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

In [16]:
df.filter(~(df["Experience"] >= 4)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+